* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
/*start landing page*/
.landing {
	background-image: url(./images/1.jpeg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
}

section {
	height: 100vh;
	position: 50%;

}
h1 {
	font-family: 'Lobster', cursive;
	color: #ffff;
	text-align: center;
	/*padding: 100px;*/
	/*font-size: 80px;*/
}
.mom {
	font-size: 30px;
	border: black;
	text-shadow: -1px -1px 0 #000;
	/*font-size: 60px;*/
}

.box {
	position: absolute;
	/*border:5px solid white;*/
	padding: 40px;
	width: 60%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

a {
	color: #ffff;
}

.eco 	{
	font-size: 60px;
	transform: translate(10%, 50%);
	text-shadow: -1px -1px 0 #000;
}

/*end landing page*/

/*Start About*/
.about {
	background-image: url(./images/5.jpeg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
}
.container-1 {

	background-color: rgba(51,51,51, 0.9);
	opacity: 1;
	transform: scale(0.8, 1);
	color: #ffff;
}

.why{
	font-size: 16px;
	margin-top: 50px;
}


/*end about*/

/*start home page */
.home {
	background-image: url(./images/3.jpeg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;

}

.nav {

	font-family: 'Lobster', cursive;
	font-size: 40px;
}

.container-2 {
	padding: 5px;
	margin-left: 40px;
	margin-top: 100px;
	
}


.card { background-color: rgba(102,102,102,0.9) 
	!important; 
	opacity: 0.90;
	color: #ffff;
	font-weight: 900;


}

.btn {
	font-weight: 900;
}
/*end homepage*/

/*Start gallery*/

.gallery {
	background-image: url(./images/4.jpeg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;

}

.gallery-item:hover {
	cursor: pointer;
}

.modal-content {
	background-color: rgba(102,102,102,0.9) 
	!important; 
	opacity: 0.90;
	color: #ffff;
}

.contact {
	background-image: url(./images/5.jpeg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
	color: #ffff;
	font-weight: 900;
}


.b1 {
	height: 70vh;
	width: 70vh;
}

.map {
	height: 300%;
	width: 300%
}











/*Media query*/






@media only screen and (max-width: 420px){
	.about {
		margin-left: 0;
		width: 100%;
		/*max-height: 100vh;*/
	}
	h1 {
		font-size: 14px;
		text-align: center;
		padding: 0px;
	}
	.click {
		font-size: 12px;
		padding: 0px;
	}
	.mom {
		font-size: 30px;
	}

	p {
		/*font-size: 12px;*/
		/*text-align: center;*/
	}
	.eco {
		/*padding-top: 30px;*/
		transform: translate(0, 50%);
		font-size: 30px;

	}

	.nav {
		font-size: 12px;
		text-align: center;
		padding: 0;
	}

	.home {
		margin-left: 0;
		width: 100%;
		min-height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.card {
		margin-bottom: 30px;
		padding: 5px;
	}

	.contact {
		margin-left: 0;
		width: 100%;
		min-height: 100vh;
	}
	.map {
		height: 100%;
		width: 100%;

	}
	.b1{
		width: 100%;
	}

	.why 	{
		font-size: 12px;
	}

	.container-1 	{
		width: 100%;
		margin-top: 30px;
	}

}

@media only screen and (min-width: 421px) and (max-width: 1370px) {

	.about {
		margin-left: 0;
		width: 100%;
		/*min-height: 100vh;*/
	}
	/*h1 {
		font-size: 20px;
		text-align: center;
		padding: 0px;
	}*/
	.click {
		font-size: 12px;
		padding: 0px;
	}
	.container-1 {
		/*margin-left: 0;*/
		width: 100%;
		/*height: 150vh;*/
		
	}
/*	p {
		font-size: 10px;
		text-align: center;
	}*/
	.eco {
		transform: translate(0, 0);
		font-size: 50px;
	}

	.nav {
		font-size: 20px;
		text-align: center;
		padding: 0;
	}

	.home {
		margin-left: 0;
		width: 100%;
		min-height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.card {
		margin-bottom: 30px;
		padding: 5px;
	}

	.contact {
		margin-left: 0;
		width: 100%;
		min-height: 100vh;
	}
	.map {
		width: 100%;
		height: 100%;
		margin-bottom: 10px;
	}

	.b1{
		width: 100%;
	}

}

